<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>voastudy</display-name>
	<servlet>
		<description>
		</description>
		<display-name>CoreServlet</display-name>
		<servlet-name>CoreServlet</servlet-name>
		<servlet-class>wx.sunl.servlet.CoreServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>AccessTokenServlet</display-name>
		<servlet-name>AccessTokenServlet</servlet-name>
		<servlet-class>wx.sunl.servlet.AccessTokenServlet</servlet-class>
		<init-param>
		<param-name>appId</param-name>
		<param-value>wx90716ffab2e94997</param-value>
		</init-param>
		<init-param>
		<param-name>appSecret</param-name>
		<param-value>0b1d2d4bee0f211ff3fad8e97dec2366</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>OAuthServlet</display-name>
		<servlet-name>OAuthServlet</servlet-name>
		<servlet-class>wx.sunl.servlet.OAuthServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EmpLoginServlet</display-name>
		<servlet-name>EmpLoginServlet</servlet-name>
		<servlet-class>wx.sunl.servlet.EmpLoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CoreServlet</servlet-name>
		<url-pattern>/CoreServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AccessTokenServlet</servlet-name>
		<url-pattern>/AccessTokenServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OAuthServlet</servlet-name>
		<url-pattern>/OAuthServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmpLoginServlet</servlet-name>
		<url-pattern>/EmpLoginServlet</url-pattern>
	</servlet-mapping>
</web-app>
