<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<jsp-config>
	<taglib>
	<taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
	<taglib-location>/WEB-INF/fmt.tld</taglib-location>
	</taglib>
	<taglib>
	<taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
	<taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
	</taglib>
	<taglib>
	<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
	<taglib-location>/WEB-INF/c.tld</taglib-location>
	</taglib>
	<taglib>
	<taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
	<taglib-location>/WEB-INF/c-rt.tld</taglib-location>
	</taglib>
	<taglib>
	<taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
	<taglib-location>/WEB-INF/sql.tld</taglib-location>
	</taglib>
	<taglib>
	<taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
	<taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
	</taglib>
	<taglib>
	<taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
	<taglib-location>/WEB-INF/x.tld</taglib-location>
	</taglib>
	<taglib>
	<taglib-uri>http://java.sun.com/jstl/x-rt</taglib-uri>
	<taglib-location>/WEB-INF/x-rt.tld</taglib-location>
	</taglib>
	</jsp-config>
	
	<display-name>voastudy</display-name>
	<servlet>
		<description>
		</description>
		<display-name>CoreServlet</display-name>
		<servlet-name>CoreServlet</servlet-name>
		<servlet-class>wx.sunl.servlet.CoreServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>AccessTokenServlet</display-name>
		<servlet-name>AccessTokenServlet</servlet-name>
		<servlet-class>wx.sunl.servlet.AccessTokenServlet</servlet-class>
		<init-param>
		<param-name>appId</param-name>
		<param-value>wx90716ffab2e94997</param-value>
		</init-param>
		<init-param>
		<param-name>appSecret</param-name>
		<param-value>0b1d2d4bee0f211ff3fad8e97dec2366</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>OAuthServlet</display-name>
		<servlet-name>OAuthServlet</servlet-name>
		<servlet-class>wx.sunl.servlet.OAuthServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EmpLoginServlet</display-name>
		<servlet-name>EmpLoginServlet</servlet-name>
		<servlet-class>wx.sunl.servlet.EmpLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RoomServlet</display-name>
		<servlet-name>RoomServlet</servlet-name>
		<servlet-class>wx.sunl.servlet.RoomServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserLoginServlet</display-name>
		<servlet-name>UserLoginServlet</servlet-name>
		<servlet-class>wx.sunl.servlet.UserLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>OrderServlet</display-name>
		<servlet-name>OrderServlet</servlet-name>
		<servlet-class>wx.sunl.servlet.OrderServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InfoServlet</display-name>
		<servlet-name>InfoServlet</servlet-name>
		<servlet-class>wx.sunl.servlet.InfoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>OAuthTwoServlet</display-name>
		<servlet-name>OAuthTwoServlet</servlet-name>
		<servlet-class>wx.sunl.servlet.OAuthTwoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserServlet</display-name>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>wx.sunl.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdviceServlet</display-name>
		<servlet-name>AdviceServlet</servlet-name>
		<servlet-class>wx.sunl.servlet.AdviceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CoreServlet</servlet-name>
		<url-pattern>/CoreServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AccessTokenServlet</servlet-name>
		<url-pattern>/AccessTokenServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OAuthServlet</servlet-name>
		<url-pattern>/OAuthServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmpLoginServlet</servlet-name>
		<url-pattern>/EmpLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RoomServlet</servlet-name>
		<url-pattern>/RoomServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/UserLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderServlet</servlet-name>
		<url-pattern>/OrderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InfoServlet</servlet-name>
		<url-pattern>/InfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OAuthTwoServlet</servlet-name>
		<url-pattern>/OAuthTwoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdviceServlet</servlet-name>
		<url-pattern>/AdviceServlet</url-pattern>
	</servlet-mapping>
</web-app>
